.layout-header{
    background-color: slategray;
    color: orange;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.layout-footer{
    background-color: slategray;
    color: rgb(212, 193, 24);
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}